<header>
    <nav class="header-nav">
        <a class="header-title" href="/">CyberApp</a>
            <ul>
                <li> <a href="/users">Users</a></li>
                <li> <a href="/users/new">Register</a></li>
                <li> <a href="/images">Images</a></li>
                <li> <a href="/images/new">Add Image</a></li>
                <li> <a href="/login/logout">Logout</a> </li>
            </ul>
    </nav>
</header>