<div class="form-row">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= user.name %>">
    </div>
    <div class="form-item">
        <label>Surname</label>
        <input type="text" name="surname" value="<%= user.surname %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Email</label>
        <input type="email" name="email" value="<%= user.email %>">
    </div>
    <div class="form-item">
        <label>Password</label>
        <input type="password" name="password" value="<%= user.password %>">
    </div>
</div>
